<div class="menu-container" [class.open]="open()">
  <button class="menu-toggle" type="button" (click)="toggleMenu()">&#9776;</button>
  <div class="panel">
    <br><br>
     <h3>Reglas predefinidas</h3>
    <select (change)="onRulePresetChange($event)" [value]="currentPreset">
      <option *ngFor="let r of rulePresets" [value]="r.name">
        {{ r.name }}
      </option>
    </select>
    <h3>Reglas</h3>
    <label>
      Sobrevive (S):
      <input type="text" [value]="survive()" (input)="onSurviveChange($event)" />
    </label>
    <label>
      Nace (B):
      <input type="text" [value]="born()" (input)="onBornChange($event)" />
    </label>

    <h3>Velocidad</h3>
    <label>
      Generaciones / s:
      <input type="number" [value]="speed()" (input)="onSpeedChange($event)" min="1" max="120"/>
    </label>

  <h3>Patrones</h3>
  <select (change)="onPatternChange($event)">
    <option value="">Seleccione...</option>
    @for (p of patterns(); track p.name) {
      <option [value]="p.name">{{ p.name }}</option>
    }
  </select>

  <h3>Visualización</h3>
  <label>
    <input type="checkbox" [checked]="colorEnabled()" (change)="onColorEnabledChange($event)" /> Usar colores
  </label>
  <label>
    Color base:
    <input type="color" [value]="baseColor()" (input)="onBaseColorChange($event)" />
  </label>
  <label>
    Fondo:
    <input type="color" [value]="background()" (input)="onBgColorChange($event)" />
  </label>

    <h3>Controles</h3>
    <button type="button" (click)="start.emit()">Play</button>
    <button type="button" (click)="stop.emit()">Stop</button>
    <button type="button" (click)="game.clear()">Limpiar</button>
    <h3>Importar RLE</h3>
    <input type="file" accept=".rle,.lif" (change)="onRLEFileSelected($event)"  />
  </div>
</div>
