.menu-container {
  position: absolute;
  inset: 0 0 auto 0;
}

.menu-toggle {
  position: absolute;
  top: 5px;
  left: 1rem;
  z-index: 1000;  
  background: white;
  border-color: white;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.panel {
  z-index: 10;
  overflow: hidden;
  width: 250px;
  padding: 1rem;
  background: #f5f5f5;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-105%);
  transition: transform 0.3s;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.panel h3 {
  margin-top: 1rem;
}

.panel label {
  display: block;
  margin-bottom: 0.5rem;
}

.panel button,
.panel select {
  margin: 0.2rem 0;
  width: 100%;
}

.panel input[type="text"]  {
  width: 50px;
}
.menu-container.open .panel {
  transform: translateX(0);
}